*{
  padding: 0;
  margin: 0;

}
header{
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to right,red,rgb(174, 21, 21));
}


#span0{
  width: 30%;
  height: 100%;
  float: right;
  background-color: rgb(101, 63, 47);
}
header h2{
  float: left;
  text-align: center;
  line-height: 100px;
  width: 150px;
  border-radius: 50%;
  
  
}
header h2:hover{
  background-color: aqua;
  color: black;
}




.img0{
  width: 100px;
  height: 100%;
  float: right;
  border-radius: 50%;
  
}


nav a{
  text-decoration: none;
  height: 100%;
  color: aqua;
  width: 100px;
  display: inline-block;
  font-weight: bold;
}
ul li{
  display: inline-block;
  line-height: 100px;
  text-align: center;
  width: 250px;
  height: 100%;
}
nav{
  width: 70%;
  height: 100%;
  text-align: center;
  
}

nav a:hover{
  background-color: black;
  color: azure;
  width: 100%;
  height: 100%;
  

} 
main{
  width: 100%;
  height: 500px;
  background-color: rgb(255, 166, 166);
  border-top: 3px solid red;
  animation-name: said1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  
}

@keyframes said1{
  0%{
  background-color: rgb(217, 7, 196);
  }
  
  20%{
    background-color: rgb(228, 100, 49);
  }
  50%{
    background-color: rgb(122, 13, 30);
  }
  100%{
    background-color: burlywood;
  }

}
aside{
  text-align: center;
  width:30% ;
  height: 100%;
  background-color: white;
  float: left;
}
.img01{
  width: 300px;
}
#h101{
  padding: 20px;
  border-bottom: 2px solid red;
  
}

  

div{
  width: 70%;
  height: 100%;
  
  float: right;
  position: relative;
  
}
div article{
  width: 400px;
  height: 280px;
  position: absolute; 
  background-color: rgb(197, 42, 199);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  
}
article p{
  padding: 15px 0;
  line-height: 100%;
  border-top: 2px solid red;
  text-align: center;
  padding: 15px;
  
}
#div0{
  width: 375px;
  height: 45%;
  border-bottom: 4px double red;
}
#div0 img{
  border-radius: 50%;
  width: 40px;
  margin: 5px;
  justify-content: center;
  border-bottom: 2px double red;
  padding: 15px;
 
}
#div0 img:hover{
  width:55px ;
  border-bottom:2px double black ;
  background-color: rgb(255, 0, 0);
}
@media only  screen and (max-width:1070px) and (min-width:930px) {
  #span0{   
    width: 35%;

  }
  aside{
    width: 35%;
  }
  div{
    width: 65%;
  }
  
}
@media only  screen and (max-width:940px) {
  #span0{   
    width: 40%;

  }
}
@media only  screen and (max-width:600px) {
  header{
    height: auto;
  }
  #span0{
    height: 100px;
    width: 40%;
  }
.img0{
  width: 70px;
    
  }
 
  nav{
    width: 0%;
  
  }
  ul li{
    display: block;
    width: 100%;
  }

}